<div class="page-header">
  <h1>Edit <%= resource_name.to_s.humanize %></h1>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal", role: "form" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, class: "control-label col-sm-2" %>
    <div class="col-sm-10"><%= f.email_field :email, autofocus: true, class: "form-control" %></div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Leave blank if you don't want to change it", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></div>
  </div>

  <div class="form-group">
    <%= f.label :current_password, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Required to make changes" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Update", class: "btn btn-primary" %>
      <%= link_to "Back", :back, class: "btn btn-link" %>
    </div>
  </div>
<% end %>


