<div class="page-header">
<%= link_to new_admin_path, :class => 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-plus"></span>
  New Admin
<% end %>
<h1>Listing Admins</h1>
</div>

<div class="row">
  <div class="table-responsive admins-index col-xs-12">
    <table class="table table-striped table-bordered table-hover dataTable" data-datatable-not-orderable="-3,-2,-1">
      <thead>
        <tr>
          <th>Email</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @admins) do |admin| %>
          <td><%= admin.email %></td>
          <td><%= link_to 'Show', admin %></td>
          <td><%= link_to 'Edit', edit_admin_path(admin) %></td>
          <td><%= link_to 'Delete', admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
