<div class="page-header">
  <%= link_to :back, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_admin_path(@admin), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show admin</h1>
</div>

<dl class="dl-horizontal">
  <dt>Email:</dt>
  <dd><%= @admin.email %></dd>

  <dt>Last Sign In:</dt>
  <dd><%= @admin.last_sign_in_at %></dd>

  <dt>Last Updated:</dt>
  <dd><%= @admin.updated_at %></dd>
</dl>
