<%= form_for(@teller, :html => { :multipart => true, :class => "form-horizontal", :role => "form" }) do |f| %>
  <% if @teller.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@teller.errors.count, "error") %> prohibited this teller from being saved:</h4>

      <ul>
      <% @teller.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :first_name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :last_name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :website, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :website, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :role, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :role, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :bio, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :bio, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :phone, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :avatar, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= image_tag(@teller.avatar.thumb.url) if @teller.avatar? %>
      <%= f.file_field :avatar, :class => "form-control" %>
      <%= f.hidden_field :avatar_cache %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
