<div class="page-header">
<%= link_to new_teller_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Teller
<% end %>
<h1>Listing Tellers</h1>
</div>

<div class="row">
    <div class="table-responsive tellers-index col-xs-12">
        <table class="table table-striped table-bordered table-hover dataTable" data-datatable-order="1" data-datatable-not-orderable="4,5,-4,-3,-2,-1">
            <thead>
                <tr>
                    <th>First</th>
                    <th>Last</th>
                    <th>Website</th>
                    <th>Role</th>
                    <th>Bio</th>
                    <th>Phone</th>
                    <th>Photo</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <%= content_tag_for(:tr, @tellers) do |teller| %>
                    <td><%= teller.first_name %></td>
                    <td><%= teller.last_name %></td>
                    <td><%= link_to truncate(teller.website, length: 30, omission: "..."), teller.website, target: "_blank" %></td>
                    <td><%= teller.role %></td>
                    <td><%= truncate(teller.bio, length: 20, omission: "...") %></td>
                    <td><%= teller.phone.phony_formatted(format: '%{ndc}-%{local}', spaces: '-') if teller.phone %></td>
                    <td class="text-center"><%= image_tag teller.avatar.tiny.url %></td>
                    <td><%= link_to 'Show', teller %></td>
                    <td><%= link_to 'Edit', edit_teller_path(teller) %></td>
                    <td><%= link_to 'Delete', teller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
