<div class="page-header">
  <%= link_to :back, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_teller_path(@teller), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show Teller</h1>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="avatar">
      <%= image_tag(@teller.avatar.thumb.url) %>
    </div>
  </div>
  <div class="col-md-10">
    <div class="details">
      <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd><%= @teller.name %></dd>

        <dt>Website:</dt>
        <dd><%= link_to @teller.website, @teller.website, target: "_blank" %></dd>

        <dt>Role:</dt>
        <dd><%= @teller.role %></dd>

        <dt>Phone:</dt>
        <dd><%= @teller.phone.phony_formatted(format: :international, spaces: '-') if @teller.phone %></dd>

        <dt>Bio:</dt>
        <dd><%= @teller.bio %></dd>
      </dl>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Upcoming Events</h2>
    <% if @teller.events.count > 0 %>
      <ul class="list-unstyled">
        <% @teller.upcoming_events.each do |e| %>
          <li><%= link_to "#{e.title} - #{e.start.to_s(:short)}", e %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No events scheduled at this time.</p>
    <% end %>
  </div>
</div>
