<div class="row">
    <div class="table-responsive events-table col-xs-12">
        <table class="table table-striped table-bordered table-hover dataTable" data-datatable-order="1" data-datatable-not-orderable="3,5,-3,-2,-1">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Description</th>
                    <th>Location</th>
                    <th class="text-right">Tellers</th>
                    <th></th>
                    <% if current_page?(events_path) %>
                      <th></th>
                      <th></th>
                    <% end %>
                </tr>
            </thead>

            <tbody>
                <%= content_tag_for(:tr, @events) do |event| %>
                    <td><%= event.title %></td>
                    <td><%= event.start.to_s(:short) %></td>
                    <td><%= event.end_at.to_s(:short) %></td>
                    <td><%= truncate(event.description, length: 25, omission: "...") %></td>
                    <td>
                        <%= link_to(event.location.name, event.location) if event.location %>
                    </td>
                    <td class="text-right">
                        <% if event.tellers.count > 0 %>
                            <ul class="list-unstyled">
                                <% event.tellers.order('event_teller_schedules.id').each do |t| %>
                                    <li><%= link_to t.name, t %></li>
                                <% end %>
                            </ul>
                        <% end %>
                    </td>
                    <td><%= link_to 'Show', event %></td>
                    <% if current_page?(events_path) %>
                      <td><%= link_to 'Edit', edit_event_path(event) %></td>
                      <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <% end %>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
