<%= form_for(@schedule, :multipart => true, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
  <% if @schedule.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h4>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :title, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :start, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :user_input_start, :class => "form-control dtp-date-only", autocomplete: "off", value: (@schedule.start.to_s(:moment_date_format) if @schedule.start) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :end_at, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :user_input_end, :class => "form-control dtp-date-only", autocomplete: "off", value: (@schedule.end_at.to_s(:moment_date_format) if @schedule.end_at) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :map, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= image_tag(@schedule.map.thumb.url) if @schedule.map? %>
      <%= f.file_field :map, :class => "form-control" %>
      <%= f.hidden_field :map_cache %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
