<div class="page-header">
<%= link_to new_schedule_path, :class => 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-plus"></span>
  New Schedule
<% end %>
<h1>Listing Schedules</h1>
</div>

<div class="row">
  <div class="table-responsive schedules-index col-xs-12">
    <table class="table table-striped table-bordered table-hover dataTable" data-datatable-order="1" data-datatable-not-orderable="3,-3,-2,-1">
      <thead>
        <tr>
          <th>Title</th>
          <th>Start</th>
          <th>End</th>
          <th class="text-right">Has Map?</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @schedules) do |schedule| %>
          <td><%= schedule.title %></td>
          <td><%= schedule.start %></td>
          <td><%= schedule.end_at %></td>
          <td class="text-right"><%= schedule.map? ? "✓" : "✗" %></td>
          <td><%= link_to 'Show', schedule %></td>
          <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
          <td><%= link_to 'Delete', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
