<div class="page-header">
  <%= link_to :back, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_schedule_path(@schedule), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show Schedule</h1>
</div>

<div class="row">
  <div class="col-md-9">
    <dl class="dl-horizontal">
      <dt>Title:</dt>
      <dd><%= @schedule.title %></dd>

      <dt>Start:</dt>
      <dd><%= @schedule.start.to_s(:moment_date_format) %></dd>

      <dt>End:</dt>
      <dd><%= @schedule.end_at.to_s(:moment_date_format) %></dd>
    </dl>
  </div>
  <div class="col-md-3">
    <div class="visible-lg pull-right">
      <%= link_to image_tag(@schedule.map.thumb.url, class: "img-responsive"), @schedule.map.url %>
    </div>

    <div class="hidden-lg">
      <%= link_to image_tag(@schedule.map.thumb.url, class: "img-responsive"), @schedule.map.url %>
    </div>
  </div>
</div>

<div class="row">
  <h2>Schedule of Events</h2>
</div>
<%= render 'partials/events_table' %>
