<%= form_for(@event, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
  <% if @event.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h4>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :title, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :start, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
        <%= f.text_field :start, :class => "form-control dtp", value: (@event.start.to_s(:moment_format) if @event.start) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :end_at, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :end_at, :class => "form-control dtp", value: (@event.end_at.to_s(:moment_format) if @event.end_at) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :location_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
        <%= f.collection_select :location_id, Location.all, :id, :name, { include_blank: "Choose a location..." }, { :class => "form-control selectize" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user_input_teller_ids, value: "Tellers", :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
        <% 
            # Create a JSON object that selectize will take for properly
            # (re)displaying tellers while still sending their ID's on POST.
            tellers = @event.tellers.order('event_teller_schedules.id').inject([]) { |a, t|
                a << { id: t.id, name: t.name, website: t.website }
                a
            }.to_json

            # Join the teller_ids with commas like selectize is expecting.
            teller_ids = @event.teller_ids.join(',')
        %>
    <%= f.text_field :user_input_teller_ids, value: teller_ids, :class => "form-control selectize", data: { data: tellers } %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
