<div class="page-header">
<%= link_to new_event_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Event
<% end %>
<h1>Listing Events</h1>
</div>

<%= render 'partials/events_table' %>
