<div class="page-header">
<%= link_to :back, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
<% end %>
<%= link_to edit_event_path(@event), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
<% end %>
<h1>Show Event</h1>
</div>

<dl class="dl-horizontal">
    <dt>Title:</dt>
    <dd><%= @event.title %></dd>

    <dt>Start:</dt>
    <dd><%= @event.start.strftime("%A, %B #{@event.start.day.ordinalize}, %Y at %I:%M %p") %></dd>

    <dt>End:</dt>
    <dd><%= @event.end_at.strftime("%A, %B #{@event.end_at.day.ordinalize}, %Y at %I:%M %p") %></dd>

    <dt>Description:</dt>
    <dd><%= @event.description %></dd>

    <dt>Location:</dt>
    <dd>
    <% if @event.location %>
        <%= link_to @event.location.name, @event.location %>
    <% else %>
        No location has been chose for this event.
    <% end %>
    </dd>

    <dt>Schedules:</dt>
    <dd>
    <% if @event.schedules.exists? %>
        <ul class="list-unstyled">
            <% @event.schedules.each do |s| %>
                <li><%= link_to "#{s.title} (#{s.start.to_s(:moment_date_format)} to #{s.end_at.to_s(:moment_date_format)})", s %></li>
            <% end %>
        </ul>
    <% else %>
        There are no schedules containing this event at this time.
    <% end %>
    </dd>

    <dt>Tellers:</dt>
    <dd>
    <% if @event.tellers.count > 0 %>
        <ul class="list-unstyled">
            <% @event.tellers.order('event_teller_schedules.id').each do |t| %>
                <li><%= link_to t.name, t %></li>
            <% end %>
        </ul>
    <% else %>
        There are no tellers assigned to this event at this time.
    <% end %>
    </dd>
</dl>
