<div class="page-header">
  <%%= link_to new_<%= singular_table_name %>_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New <%= human_name %>
  <%% end %>
  <h1>Listing <%= plural_table_name %></h1>
</div>

<div class="row">
  <div class="table-responsive <%= plural_table_name %>-index col-xs-12">
    <table class="table table-striped table-bordered table-hover dataTable" data-datatable-not-orderable="-3,-2,-1">
      <thead>
        <tr>
          <% attributes.each do |attribute| -%>
            <th><%= attribute.human_name %></th>
          <% end -%>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%%= content_tag_for(:tr, @<%= plural_table_name %>) do |<%= singular_table_name %>| %>
          <% attributes.each do |attribute| -%>
            <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
          <% end -%>
          <td><%%= link_to 'Show', <%= singular_table_name %> %></td>
          <td><%%= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %></td>
          <td><%%= link_to 'Destroy', <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%% end %>
      </tbody>
    </table>
  </div>
</div>
