.field_with_errors .form-control {
    &:extend(.has-error .form-control);
}

// Style devise errors to be consistent with our normal errors.
#error_explanation {
    &:extend(.alert, .alert-danger);

    // Devise uses h2, we use h4.
    // This fixes the display.
    h2 {
        &:extend(.alert h4, h4);
    }
}
