<div class="page-header">
<%= link_to new_location_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Location
<% end %>
<h1>Listing Locations</h1>
</div>

<div class="row">
    <div class="table-responsive locations-index col-xs-12">
        <table class="table table-striped table-bordered table-hover dataTable" data-datatable-not-orderable="-3,-2,-1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <%= content_tag_for(:tr, @locations) do |location| %>
                    <td><%= location.name %></td>
                    <td><%= link_to 'Show', location %></td>
                    <td><%= link_to 'Edit', edit_location_path(location) %></td>
                    <td><%= link_to 'Delete', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
